<style>
  #space-me {
    margin-top: 75px;
  }
  #about-us {
    min-width: 300px;
    width: 50%;
    text-align: justify;
    line-height: 2em;
  }
  #img-parallax-2 {
    height: 300px;
  }
  </style>

<section id="img-parallax-2" data-type="background" data-speed="10">
  <div id="hero-text">
    <div class="section">
      <%= image_tag("logo.png", height: '125px', id: 'space-me') %>
    </div>
  </div>
</section>

<div id="slide-2">
  <div class="container">
    <h1>What We Do</h1>
  </div>
  <div class="container">
    <div class="section" id="about-us">
      <div class="content">
        <p>
          Game School was founded on the idea that anyone can learn to
          make Virtual Reality. We're game designers and self-taught
          coders, and we want to make the next generation of influencers
          in the world of Virtual Reality. There are tons of places that
          VR can go - from virtual tourism, to therapy, to training - and
          we want to help anyone who has an idea, to understand how to
          make it a (virtual) reality.
        </p>
      </div>
    </div>
  </div>
</div>
