<style>
  #our-classes {
    padding-top: 75px;
  }
  .section.interest {
    border: 1px solid black;
  }
  .section.interest:hover {
    border-bottom: 1px solid red;
  }
  </style>

<!-- (2) SLIDE 1 -->
<div class="slide" id="our-classes">
  <div class="container">
    <h1>Our Classes</h1>
    <h2>Available Classes:</h2>
    <div class="section interest" data-package="daily">
      <h2>Intro to Unity</h2>
      <p>$150</p>
      <p>Two night course for beginners</p>
    </div>
    <div class="section interest" data-package="part-time">
      <h2>VR User Interface</h2>
      <p>$150</p>
      <p>Two night course for beginners</p>
    </div>
    <div class="section interest" data-package="member">
      <h2>Intro to Code</h2>
      <p>$350</p>
      <p>1 week evening course</p>
    </div>
    <div class="section interest" data-package="dedicated">
      <h2>360 Video</h2>
      <p>$600</p>
      <p>One day class</p>
    </div>

    <br />
    <h2>Future Classes</h2>
    <div class="section interest" data-package="daily">
      <h2>VR & Unity Bootcamp</h2>
      <p>TBA</p>
      <p>12 week bootcamp</p>
    </div>
  </div>
<!-- Close About Slide -->
</div>
