<h1>ADMIN DASHBOARD</h1>

<p><%= link_to 'Edit School Info', edit_school_path(@school) %></p>

<p><%= link_to 'Create a New Course', new_course_path %></p>

<p><%= link_to 'Manage Instructors', instructors_path %></p>
