<style>
    .instructor-image img {
      height: 150px;
    }
    .section {
      width: 350px;
    }
    .section p {
      text-align: justify;
      line-height: 1.25em;
      padding: 0 20px 0 20px;
    }
</style>

<div class="slide" id="meet-us">
  <div class="container">
    <h1>Meet Your Instructors:</h1>
    <br />
    <div class="section interest" data-package="daily">
      <div class="instructor-image">
        <%= image_tag("jason.png") %>
      </div>
      <h2>Jason Mathias</h2>
      <p>Unity & VR Instructor</p>
      <p>Jason studied game design at USC's Interactive Media and Games
        program, the number one game design program in the USA. A self-taught coder,
        he knows how to tackle the challenges that first-time coders face.
        He has worked on everything from educational games about Chemistry
        to VR Boxing to mobile games.</p>
    </div>
    <div class="section interest" data-package="part-time">
      <div class="instructor-image">
        <%= image_tag("james.png") %>
      </div>
      <h2>James Calhoun</h2>
      <p>Film & Code Instructor</p>
      <p>James made his first film when he was nineteen and premiered it at the
        Warner Grand Theatre in LA. Shortly after, he then started his first
        company making commercials for local businesses to fund his creative
        endeavors. His first tech startup FADM was a crowdfunding platform
        for filmmakers. James has also taught at coding bootcamps including
        guest lessons at General Assembly.</p>
    </div>
    <div class="container">
      <%= link_to 'More Classes', classes_path, class: 'btn', id: 'next' %>
    </div>
  </div>
</div>
