<style>
  #space-me {
    margin-top: 75px;
  }
  #about-us {
    min-width: 300px;
    width: 50%;
    text-align: justify;
  }
  #img-parallax-2 {
    height: 300px;
  }
  p {
    line-height: 2em;
  }
</style>

<p id="notice"><%= notice %></p>


<div id="slide-2">
  <div class="container">
    <h1>What We Do</h1>
  </div>
  <div class="container">
    <div class="section" id="about-us">
      <div class="content">
        <p>
          <%= @schools.first.about_us %>
        </p>
      </div>
    </div>
  </div>
</div>
