<style>
  #space-me {
    margin-top: 75px;
  }
  #about-us {
    min-width: 300px;
    width: 50%;
    text-align: justify;
  }
  #img-parallax-2 {
    height: 300px;
  }
  p {
    line-height: 2em;
  }
</style>

<p id="notice"><%= notice %></p>

<section id="img-parallax-2" data-type="background" data-speed="10">
  <div id="hero-text">
    <div class="section">
      <%= image_tag("logo.png", height: '125px', id: 'space-me') %>
    </div>
  </div>
</section>

<div id="slide-2">
  <div class="container">
    <h1>What We Do</h1>
    <%= link_to 'Edit School', edit_school_path(@schools.first) %>
  </div>
  <div class="container">
    <div class="section" id="about-us">
      <div class="content">
        <p>
          <%= @schools.first.about_us %>
        </p>
      </div>
    </div>
  </div>
</div>
